@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53eced;
  background-image: linear-gradient(
    205deg,
    #53eced 0%,
    #31678a 50%,
    #1e8792 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

/* bubbles span */
.bubbles {
  position: absolute;
  bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.bubbles span {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  animation: move 10s linear infinite;
  position: relative;
  overflow: hidden;
}
@keyframes move {
  100% {
    transform: translateY(-110vh);
  }
}
.bubbles span.one {
  animation-delay: 2.2s;
  transform: scale(2.5);
}
.bubbles span.two {
  animation-delay: 3.5s;
  transform: scale(0.55);
}
.bubbles span.three {
  animation-delay: 0.2s;
  transform: scale(1.6);
}
.bubbles span.four {
  animation-delay: 6s;
  transform: scale(0.5);
}
.bubbles span.five {
  animation-delay: 7s;
  transform: scale(2.5);
}
.bubbles span.six {
  animation-delay: 4s;
  transform: scale(1.5);
}
.bubbles span.seven {
  animation-delay: 3s;
  transform: scale(1.7);
}
.bubbles span:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 40%;
  transform: skew(45deg) translateX(150px);
  background: rgba(255, 255, 255, 0.1);
  animation: mirror 3s linear infinite;
}
@keyframes mirror {
  100% {
    transform: translateX(-450px);
  }
}
/* container section */
.container {
  width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: containerAnime 2s ease-in-out infinite alternate;
  -webkit-box-shadow: 2px 5px 36px 3px rgba(217, 236, 236, 0.2);
  -moz-box-shadow: 2px 5px 36px 3px rgba(217, 236, 236, 0.2);
  box-shadow: 2px 5px 36px 3px rgba(217, 236, 236, 0.2);
}
@keyframes containerAnime {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03);
  }
}

.title {
  width: 350px;
  text-align: center;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
}
.image-container {
    width: 170px;
    height: 170px;
    margin: 20px auto auto;
    position: relative;
  }
  /* border animation */
  .span1 {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    padding: 20px;
    animation: animate 9s infinite;
    animation-play-state: paused;
  }
  .span1 {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .span2 {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    padding: 20px;
    animation: imageRotate 8s infinite;
    animation-play-state: paused;
  }
  .span2 {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .span3 {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    padding: 20px;
    animation: animate 10s infinite;
    animation-play-state: paused;
  }
  .span3 {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
  }
 
  /* image-container:keyframes */
  .sound-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 100%;
    -webkit-box-shadow: 0px 2px 30px 1px rgba(116, 182, 179, 0.2);
    -moz-box-shadow: 0px 2px 30px 1px rgba(116, 182, 179, 0.2);
    box-shadow: 0px 2px 30px 1px rgba(116, 182, 179, 0.2);
    animation: imageRotate 10s linear infinite;
    animation-play-state: paused;
}
  @keyframes imageRotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes animate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  
  .container.play img {
    animation-play-state: running;
  }
  .container.play span {
    animation-play-state: running;
  }
/* progress content */
.progress-container {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 15px;
  cursor: pointer;
}
.progress {
  height: 100%;
  background: turquoise;
  width: 0%;
  border-radius: 15px;
}
/* time */
.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
/* navigation content */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
.btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  transition: 0.5s;
  font-weight: 500;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.35);
-moz-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.35);
box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.35);
}
.btn:hover {
  color: turquoise;
  border-color: turquoise;
  -webkit-box-shadow: 0px 19px 53px -26px rgba(54, 223, 223, 0.45);
  -moz-box-shadow: 0px 19px 53px -26px rgba(54, 223, 223, 0.45);
  box-shadow: 0px 19px 53px -26px rgba(54, 223, 223, 0.45);
}
.big {
  font-size: 18px;
}
/* range */
.center {
  padding: 5px;
  width: 100%;
}
.form-element input[type="range"] {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 15px;
  background-color: #fff;
  outline: none;
  overflow: hidden;
}
.form-element input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: turquoise;
  border-radius: 10px;
  box-shadow: -350px 0px 0px 340px turquoise;
}

#rangevalue {
  font-weight: 100;
}
#range {
  -webkit-box-shadow: 0px 0px 11px 1px rgba(4, 4, 4, 0.27);
  -moz-box-shadow: 0px 0px 11px 1px rgba(4, 4, 4, 0.27);
  box-shadow: 0px 0px 11px 1px rgba(4, 4, 4, 0.27);
}

/* mediaquery */
@media (max-width:590px) {
    .bubbles span{
        width: 38px;
        height: 38px;
    }
    
}
@media (max-width:450px) {
    body{
        background-color: #10646d;
        background-image: linear-gradient(338deg, #10646d 0%, #5dd8e2 50%, #0c8a90 100%);
        overflow-y: hidden;
    }
    .container{
        height: 500px;
        padding: 40px;
        margin-top: 10px;
    }
    .bubbles{
        bottom:20px;
    }
    .bubbles span {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
     .title{
       
         font-weight: 200px;
         color: rgba(255, 255, 255, 0.8);
     }
     
     .time{
        
         color: rgba(255, 255, 255, 0.8);
     }
     .progress  {
         background:#1e8792;
     }
    
     .form-element input[type="range"] {
         height: 10px;
     }
     .form-element input[type="range"]::-webkit-slider-thumb {
        background-color: #1e8792;
        box-shadow: -350px 0px 0px 340px #1e8792;
       
      }
}
